<div class="spinpeeps">
	<h1>J U N T O S</h1>

	<h3>Who's Got the Question for next Week?!</h3>

	<ul class= "slots">
		<% @choices.each do |choice|%>
		<li>
		<%= image_tag asset_path("avatars/"+choice.avatarImage), :title =>choice.timesSelected, :id => choice.id%>
		</li>
		<%end%>
	</ul>
	<br/>
	<button id="start">Spin!</button>
</div>

<div class="choice styled-border extra-pos">
	<div class="choice-header">
		<h3>You have been chosen!</h3>
		<h3>Do you accept?</h3>
	</div>
	<%= radio_button_tag "response", "yes"%>Yes
	<%= radio_button_tag "response", "no"%>No
</div>

<div class="done styled-border extra-pos">
	<h3>You have got the question for next week!</h3>
	<h3>Congrats!</h3>
	<h3>We are looking forward to it. :)</h3>
</div>



<%= javascript_include_tag params[:controller]%>
<script src= '<%= asset_path("jquery.jSlots.js")%>' ></script>
<script src= '<%= asset_path("jquery.easing.1.3.js")%>' ></script>
<script type="text/javascript" charset="utf-8">
    new Interface.Controller()
</script>
